<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/superlayout}">
<head>
    <meta charset="UTF-8">
    <title>광고 목록</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div layout:fragment="content" class="p-5">

    <!-- 페이지 시작 -->
    <div class="container">
        <h2>광고 관리</h2>
        <form th:action="@{/advertisement/list}" method="get">

            <div class="row p-5 bg-white">
                <div class="mb-3">
                    <h3>광고 검색</h3>
                </div>
                <div class="col-3">
                    <div class="form-group form-group-default">
                        <select id="type" name="type" class="form-select" required>
                            <option value="0">전체</option>
                            <option value="1">제목</option>
                            <option value="2">조직명</option>
                        </select>
                    </div>
                </div>

                <div class="col-8">
                    <!--검색할 단어 입력-->
                    <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="조직명을 입력하세요"/>
                </div>

                <div class="col-1 d-flex justify-content-end">
                    <!--조회 버튼을 클릭 시, keyword의 값을 가지고 Controller에 조회를 요청한다.-->
                    <button type="submit" class="btn btn-success">조회</button>
                </div>
            </div>

        </form>

        <div class="row mt-5 p-5 bg-white">
            <div class="mb-3">
                <h3>광고 조회</h3>
            </div>
            <!--조회 테이블-->
            <table class="table table-bordered" style="text-align: center">
                <thead>
                <tr style="height: 50px; vertical-align: middle"> <!--테이블 제목-->
                    <th style="width: 8%">No</th>
                    <th style="width: 17%">업체명</th>
                    <th style="width: 41%">제목</th>
                    <th style="width: 26%">기간</th>
                    <th style="width: 8%">상태</th>
                </tr>
                </thead>
                <tbody> <!--조직 테이블 데이터 출력-->
                <tr style="height: 50px; vertical-align: middle" th:each="data:${advertisementDTOS}"> <!--읽어온 조직 데이터 만큼 반복 출력-->
                    <td th:text="${data.idx}"></td>
                    <td th:text="${data.organizationJoin.organName}"></td>
                    <td>
                        <a th:href="@{/advertisement/read(idx=${data.idx})}" th:text="${data.adTitle}"></a>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(data.adStartDate, 'yyyy/MM/dd HH:mm')}"></span> ~
                        <span th:text="${#temporals.format(data.adEndDate, 'yyyy/MM/dd HH:mm')}"></span>
                    </td>
                    <td>
                        <button style="font-size: 12px" th:if="${data.adState == 'Y'}" class="btn btn-primary">활성화</button>
                        <button style="font-size: 12px" th:unless="${data.adState == 'Y'}" class="btn btn-danger">비활성화</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center" th:if="${advertisementDTOS.isEmpty()}">조회된 내역이 없습니다.</div>

            <!-- 페이징 처리 시작 -->
            <div class="d-flex justify-content-center" th:if="${advertisementDTOS.totalElements > 0}">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 1 and currentPage != null}">
                        <a class="page-link" th:href="@{/advertisement/list(page=1, type=${type}, keyword=${keyword})}">≪</a>
                    </li>

                    <li class="page-item" th:if="${currentPage > 1 and currentPage != null}">
                        <a class="page-link" th:href="@{/advertisement/list(page=${prevPage}, type=${type}, keyword=${keyword})}">＜</a>
                    </li>

                    <li class="page-item" th:each="page:${#numbers.sequence(startPage, endPage, 1)}" th:class="${page == currentPage} ? 'active' : ''">
                        <a class="page-link" th:if="${page != currentPage}"
                           th:href="@{/advertisement/list(page=${page}, type=${type}, keyword=${keyword})}" th:text="${page}"></a>
                        <!-- 현재 페이지일 때는 링크 없이 텍스트만 표시 -->
                        <span th:if="${page == currentPage}" class="page-link" th:text="${page}"></span>
                    </li>

                    <li class="page-item" th:if="${currentPage<endPage}">
                        <a class="page-link" th:href="@{/advertisement/list(page=${nextPage}, type=${type}, keyword=${keyword})}">＞</a>
                    </li>

                    <li class="page-item" th:if="${currentPage<endPage}">
                        <a class="page-link" th:href="@{/advertisement/list(page=${endPage}, type=${type}, keyword=${keyword})}">≫</a>
                    </li>
                </ul>
            </div>
            <!-- 페이징 처리 끝 -->


            <!-- 등록 모달 열기 버튼 시작 -->
            <div class="d-flex justify-content-end">
                <button id="btn-add" type="button" class="btn btn-success">추가</button>
            </div>
            <!-- 등록 모달 열기 버튼 끝 -->

        </div>
        <!-- 페이지 끝 -->
    </div>

    <!-- 광고 등록 모달 시작 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span id="title" class="fw-light">광고 등록</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button><!--모달 닫기 버튼-->
                </div>
                <!--입력폼-->
                <!--많은 작업을 하나의 대화상자를 이용시 idx는 반드시 form밖에 작업-->
                <form id="addForm" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <p>새로운 광고를 등록합니다.</p>

                        <div class="row">
                            <!-- 연관 조직 -->
                            <input type="hidden" id="organidx" name="organidx">
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>*업체 :</label>
                                    <span class="d-flex">
                                        <input style="width: 83%; background: ghostwhite" id="organ" name="organ" type="text" class="form-control me-3" readonly>
                                        <button type="button" id="searchButton" class="btn btn-success">검색</button> <!-- 조직 검색 버튼 -->
                                    </span>
                                </div>
                            </div>

                            <!-- 광고 상태 -->
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>*진행 여부 :</label>
                                    <select id="adState" name="adState" class="form-select" required>
                                        <option value="Y">진행</option>
                                        <option value="N">미진행</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 광고 제목 -->
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>*제목 :</label>
                                    <input id="adTitle" name="adTitle" type="text" class="form-control" placeholder="제목을 입력하세요." required maxlength="100"/>
                                </div>
                            </div>

                            <!-- 광고 링크 -->
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>*링크 :</label>
                                    <input id="adLinkUrl" name="adLinkUrl" type="text" class="form-control" placeholder="링크를 입력하세요." required maxlength="100"/>
                                </div>
                            </div>

                            <!-- 광고 기간 -->
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>*기간 :</label>
                                    <span class="d-flex">
                                        <input style="width: 47%" id="adStartDate" name="adStartDate" type="datetime-local" class="form-control" required/>&nbsp;~&nbsp;
                                        <input style="width: 47%" id="adEndDate" name="adEndDate" type="datetime-local" class="form-control" required/>
                                    </span>
                                </div>
                            </div>

                            <!-- 조직 대표 사진 -->
                            <div class="col-sm-12 mt-2">
                                <div class="form-group form-group-default" id="inputImage">
                                    <label>*대표 이미지 :</label>
                                    <input name="imageFiles" type="file" class="form-control mt-2" accept="image/*" required/>
                                </div>
                            </div>

                            <!-- 조직 사진 -->
                            <div class="col-sm-12 mt-2">
                                <div class="form-group form-group-default" id="inputImage2">
                                    <label>*이미지 :</label>
                                    <input name="imageFiles" type="file" class="form-control mt-2" accept="image/*">
                                </div>
                            </div>

                            <!-- 조직 사진 추가버튼 -->
                            <div class="col-sm-12 mt-2">
                                <div class="form-group form-group-default">
                                    <input type="button" id="addImage" value="이미지 추가">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button" id="addButton" class="btn btn-success"><i class="bi-file-earmark-check"></i>&nbsp;저장</button> <!--신규등록 저장버튼-->
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="bi-file-earmark-excel"></i>&nbsp;취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 광고 등록 모달 끝 -->

    <!-- 광고 검색 모달 시작 -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span id="searchTitle" class="fw-light">업체 검색</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button><!--모달 닫기 버튼-->
                </div>
                <!--입력폼-->
                <!--많은 작업을 하나의 대화상자를 이용시 idx는 반드시 form밖에 작업-->
                <form id="searchForm" method="post">
                    <div class="modal-body">
                        <p>업체를 검색합니다.</p>

                        <div class="row">
                            <!-- 연관 조직 분류 -->
                            <div class="col-3">
                                <div class="form-group form-group-default">
                                    <label>*분류 :</label>
                                    <select id="searchType" name="searchType" class="form-select" required>
                                        <option value="ALL">전체</option>
                                        <option value="HO">본사</option>
                                        <option value="BO">지사</option>
                                        <option value="SHOP">매장</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 연관 조직 명칭 -->
                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>*업체 검색 :</label>
                                    <span class="d-flex">
                                        <!--검색할 단어 입력-->
                                        <input type="text" id="searchWord" name="searchWord" style="width: 83%" class="form-control me-3" placeholder="조직명을 입력하세요"/>
                                        <!--조회 버튼을 클릭 시, keyword의 값을 가지고 Controller에 조회를 요청한다.-->
                                        <button type="button" id="searchOrgan" class="btn btn-success">조회</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--조회 테이블-->
                    <table class="table table-bordered mt-2" id="resultsTable" style="text-align: center">
                        <thead>
                        <tr style="height: 50px; vertical-align: middle">
                            <th style="width: 20%">분류</th>
                            <th style="width: 50%">업체명</th>
                            <th style="width: 30%">상태</th>
                        </tr>
                        </thead>
                        <tbody class="overflow-auto">
                            <!-- 검색 결과가 동적으로 추가됨 -->
                        </tbody>
                    </table>

                    <div class="modal-footer border-0">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 광고 검색 모달 끝 -->

    <script th:inline="javascript">
        $(document).ready(function () {

            // 광고 등록 모달에서 검색 버튼을 클릭했을 때
            $("#searchButton").on('click', function() {

                // 폼 리셋
                var form = $("#searchForm")[0];
                form.reset();

                // 테이블 내용 초기화 (tbody 비우기)
                $("#searchModal tbody").empty();  // tbody 내부의 모든 내용 삭제

                // 이전 모달창을 화면에서 숨긴다.
                $("#addModal").modal('hide');

                // 검색 모달창을 화면에 띄운다.
                $("#searchModal").modal('show');

            });

            // 조회 버튼 클릭 시
            $("#searchOrgan").on("click", function(e) {

                var searchType = $("#searchType").val();
                var searchWord = $("#searchWord").val();

                $.ajax({
                    url: "/advertisement/search/list",
                    type: "POST",
                    data: {
                        searchType: searchType,
                        searchWord: searchWord
                    },
                    dataType: "json",
                    success: function(data) {

                        var tbody = $("#resultsTable tbody");
                        tbody.empty();  // 기존 결과 초기화

                        var row = "";
                        // 각 결과 객체를 <tr> 태그로 추가
                        $.each(data, function(index, item) {
                            row += `
                                        <tr style="height: 50px; vertical-align: middle">
                                            <td>${item.organType}</td>
                                            <td class="organ-name">${item.organName}<input type="hidden" class="idx" value="${item.idx}"></td>
                                            <td>${item.activeYn}</td>
                                        </tr>
                                    `;
                        });
                        tbody.append(row);
                    },
                    error: function(xhr, status, error) {
                        console.error("검색 오류:", error);
                        alert("검색 중 오류가 발생했습니다.");
                    }
                });
            });

            // 업체명 클릭시
            // 동적으로 생성된 .organ-name 요소에 대해서도 클릭 이벤트를 처리
            $(document).on('click', '.organ-name', function() {

                // 클릭한 td의 텍스트 값 가져오기
                var organ = $(this).text();
                // 클릭된 .organ-name 요소 내의 input.idx 값을 가져옵니다.
                var organIdx = $(this).find('.idx').val();  // input 요소의 value 값을 가져옴
                console.log(organ);
                console.log(organIdx);

                // 이전 모달 input에 organName 값 넣기
                $("#organ").val(organ);
                $("#organidx").val(organIdx);

                // 검색 모달창을 숨긴다
                $("#searchModal").modal('hide');

                // 이전 모달창을 화면에 띄운다.
                $("#addModal").modal('show');

            });

            // 이미지 추가 버튼 클릭했을 때
            $("#addImage").on('click', function() {

                // 이미지 추가 함수
                addImageInput();

            });

            // 이미지 추가
            function addImageInput() {
                const container = document.getElementById('inputImage2');
                const newInputDiv = document.createElement('div');
                newInputDiv.innerHTML = '<input name="imageFiles" type="file" class="form-control mt-2" accept="image/*">';
                container.appendChild(newInputDiv);
            }

            // 이미지 input 초기화
            function resetImageInput() {
                const input = document.querySelector('input[name="imageFiles"]');
                const container2 = document.getElementById('inputImage2');

                // 파일 선택 초기화
                if (input) {
                    input.value = '';
                }

                // 이미지 추가창 제거
                container2.innerHTML = '<label>*이미지 :</label>' +
                    '<input name="imageFiles" type="file" class="form-control mt-2" accept="image/*">';
            }

            // 광고 목록에서 추가를 클릭했을 때
            $("#btn-add").on('click', function() {

                // 폼 리셋
                var form = $("#addForm")[0];
                form.reset();

                // 이미지 추가창 리셋 함수
                resetImageInput();

                // 모달창을 화면에 띄운다.
                $("#addModal").modal('show');

            });

            // 광고 등록 모달에서 저장 버튼 클릭 시
            $('#addButton').on('click', function(){

                // id가 addForm인 태그내에 있는 모든 데이터를 읽어온다.
                var form = $("#addForm")[0];
                var formData = new FormData(form);

                // 폼 검증 수행
                if(form.checkValidity() === false) {    // 유효성 검사시 폼의 오류가 발생하면
                    form.reportValidity();              // 브라우저에 해당 필드에 메세지를 출력
                    return;
                }

                $('#addModal').modal('hide');           // 등록 모달창 숨김

                $.ajax({
                    // Controller에 신규등록 요청
                    url: '/advertisement/register',
                    type: 'POST',
                    data: formData,                     // JSON.stringify(courseData),
                    processData: false,
                    contentType: false,

                    success: function(response) {       // Controller에서 처리가 성공하였을 경우
                        // 새로운 성공 알림창을 띄운다.
                        console.log(response.organName);
                        Swal.fire({
                            title: "등록 완료",
                            text: "광고가 등록되었습니다.",
                            icon: "success"
                        }).then(() => {
                            location.reload();          // 현재 목록페이지를 다시 읽어온다.
                        });
                    },
                    error: function(xhr, status, error) {   // Controller에서 처리가 실패하였을 경우
                        // 새로운 오류 알림창을 띄운다.
                        Swal.fire({
                            title: "오류 발생",
                            text: "문제가 발생했습니다. 다시 시도해 주세요.",
                            icon: "error"
                        });
                        // 변화된 내용이 없으므로 목록페이지는 다시 읽지 않는다.
                    }
                });
            });

        });
    </script>

</div>

</body>
</html>