<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>토스페이먼츠 샘플 프로젝트</title>
  <style>
    /* CSS to center the content */
    html, body {
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .response-section {
      width: 100%;
      text-align: center;
    }

    .title {
      margin-top: 20px;
    }
  </style>
</head>

<body>
<div class="wrapper w-100">
  <img src="https://static.toss.im/lotties/error-spot-no-loop-space-apng.png" width="160" height="160" alt="Error Image">
  <h2 class="title">결제를 실패했어요</h2>
  <div class="response-section w-100">
    <!-- Additional content can go here -->
  </div>
  <script type="module" src="./fail.js"></script>
</div>
</body>
</html>