<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/superlayout}">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<div layout:fragment="content" class="p-5">

    <h3>공지사항</h3>
    <div class="container p-5 bg-white">
        <div class="container mt-3">
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <div style="width: 1250px;">
                    <th>검색어</th>
                    <th>검색할 내용을 입력하세요.</th>
                </div>
            </tr>
            </thead>
        </table>
        <div class="text-center">
            <button type="button" class="btn btn-primary">조회</button>
        </div>
    </div>

    <div class="container mt-3">
        <h2>게시글 목록</h2>
        <table class="table table-bordered">

            <thead>
            <tr class="table-secondary text-center">
                <th >NO</th>
                <th></th>
                <th>제목</th>
                <th>작성법</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td>1</td>
                <td><button type="button" class="btn btn-danger">필독</button></td>
                <td>프로그램관리자 페이지 사용서 v.1</td>
                <td>2025-01-15</td>
            </tr>
            <tr class="text-center">
                <td>2</td>
                <td><button type="button" class="btn btn-danger">필독</button></td>
                <td>정보 조회 요청 또는 변경 요청을 위한 양식 첨부파일</td>
                <td>2025-01-15</td>
            </tr>
            <tr class="text-center">
                <td>3</td>
                <td><button type="button" class="btn btn-danger">필독</button></td>
                <td>비밀번호 변경 방식에 대하여</td>
                <td>2025-01-15</td>
            </tr>
            <tr class="text-center">
                <td>4</td>
                <td><button type="button" class="btn btn-danger">필독</button></td>
                <td>다국어 추가 요청시</td>
                <td>2025-01-15</td>
            </tr>
            <tr class="text-center">
                <td>5</td>
                <td><button type="button" class="btn btn-danger">필독</button></td>
                <td>지사, 매장 추가시</td>
                <td>2025-01-15</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination" >
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>

            </ul>

        </div>
    </div>
</div>
</body>
</html>