<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/holayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>조직 상세</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--JQuery 반드시 추가-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--Jquery를 이용한 드래그 앤 드롭, 리사이즈, 애니메이션 등 인터랙티브 기능을 구현-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!--부트스트랩 아이콘-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--알림창 스크립트-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div layout:fragment="content" class="p-5">

    <!-- 페이지 시작 -->
    <div class="container">
        <h2>조직 관리 > 조직 상세정보</h2>

        <div class="row p-5 bg-white">
            <div class="mb-3">
                <h3>조직 상세정보</h3>
            </div>

            <!-- 상세 테이블 시작 -->
            <input type="hidden" name="idx" id="organDTOidx" th:data-id="${organDTO.idx}">
            <table class="table table-bordered" style="text-align: center">
                <tbody> <!--조직 테이블 데이터 출력-->
                <tr style="height: 50px; vertical-align: middle">
                    <th style="width: 10%">분류</th>
                    <td style="width: 40%; text-align: left">
                        <th:block th:if="${organDTO.organType == 'HO'}">
                            본사
                        </th:block>
                        <th:block th:if="${organDTO.organType == 'BO'}">
                            지사
                        </th:block>
                        <th:block th:if="${organDTO.organType == 'SHOP'}">
                            매장
                        </th:block>
                    </td>
                    <th style="width: 10%">상태</th>
                    <td style="width: 40%">
                        <div class="d-flex">
                            <span style="font-size: 12px" th:if="${organDTO.activeYn == 'Y'}" th:value="${organDTO.activeYn}" class="badge rounded-pill text-bg-primary justify-content-start">활성화</span>
                            <span style="font-size: 12px" th:unless="${organDTO.activeYn == 'Y'}" th:value="${organDTO.activeYn}" class="badge rounded-pill text-bg-danger justify-content-start">비활성화</span>
                        </div>
                    </td>
                </tr>
                <tr style="height: 50px; vertical-align: middle">
                    <th>업체명</th>
                    <td style="text-align: left" th:text="${organDTO.organName}"></td>
                    <th>대표 연락처</th>
                    <td style="text-align: left" th:text="${organDTO.organTel}"></td>
                </tr>
                <tr style="height: 50px; vertical-align: middle">
                    <th>주소</th>
                    <td colspan="3" style="text-align: left" th:text="${organDTO.organAddress}"></td>
                </tr>
                <tr style="height: 50px;">
                    <th style="vertical-align: middle">이미지</th>
                    <td colspan="3">
                        <div style="display: flex; flex-wrap: wrap; padding: 20px;">
                            <!-- 대표 이미지가 없을때 나오는 이미지 -->
                            <div style="flex-basis: 100%; text-align: left">
                                <th:block th:if="${!hasRepImage}">
                                    <img style="width: 300px; height: 300px; object-fit: cover; margin: 10px" src="https://sixcandoitimage.s3.ap-northeast-2.amazonaws.com/images/noimage.jpg" alt="noimage">
                                </th:block>
                            </div>
                            <!-- 이미지 -->
                            <th:block th:each="data:${imageFileDTOS}" th:if="${!hasRepImage}">
                                <th:block th:unless="${data.getRepimageYn()} == 'Y'">
                                    <div>
                                        <th:block th:unless="${data.getRepimageYn()} == 'Y'">
                                            <img style="width: 200px; height: 200px; object-fit: cover; margin: 10px" th:src="${data.url}" th:alt="${data.originName}">
                                            <div>
                                                <button type="button" class="btn btn-outline-danger deleteBtn mb-4" th:value="${data.idx}">삭제</button>
                                            </div>
                                        </th:block>
                                    </div>
                                </th:block>
                            </th:block>

                            <th:block th:each="data:${imageFileDTOS}" th:if="${hasRepImage}">
                                <!-- 대표 이미지 -->
                                <th:block th:if="${data.getRepimageYn()} == 'Y'">
                                    <div style="flex-basis: 100%; text-align: left">
                                        <img style="width: 300px; height: 300px; object-fit: cover; margin: 10px" th:src="${data.url}" th:alt="${data.originName}">
                                        <div>
                                            <button type="button" class="btn btn-outline-danger deleteBtn mb-4" style="margin-left: 130px" th:value="${data.idx}">삭제</button>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                            <th:block th:each="data:${imageFileDTOS}" th:if="${hasRepImage}">
                                <!-- 이미지 -->
                                <th:block th:unless="${data.getRepimageYn()} == 'Y'">
                                    <div>
                                        <img style="width: 200px; height: 200px; object-fit: cover; margin: 10px" th:src="${data.url}" th:alt="${data.originName}">
                                        <div>
                                            <button type="button" class="btn btn-outline-danger deleteBtn mb-4" th:value="${data.idx}">삭제</button>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- 상세 테이블 끝 -->

            <!-- 수정/취소 버튼 -->
            <div class="d-flex justify-content-end mt-5">
                <button type="button" class="btn btn-outline-secondary" th:onclick="|location.href='/room/main?organ_idx=' + ${organDTO.idx}|">룸 관리</button>
                <button type="button" class="btn btn-outline-secondary ms-2" id="btn-update" th:data-id="${organDTO.idx}">수정</button>
                <button type="button" class="btn btn-outline-secondary ms-2" onclick="location.href='/office/ho/list'">목록</button>
                <button type="button" class="btn btn-outline-danger btn-delete ms-2" th:data-id="${organDTO.idx}">삭제</button>
            </div>
        </div>

    </div>
    <!-- 페이지 끝 -->

    <!-- 수정 모달 시작 -->
    <div class="modal" id="updatemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 id="title" class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- 폼 시작 -->
                <form id="updatemodalForm">
                    <input type="hidden" id="idx" name="idx">
                    <input type="hidden" name="join" value="organ">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-12">
                                <div class="form-group form-group-default">
                                    <label>*상태 :</label>
                                    <select id="activeYn" name="activeYn" class="form-select mt-2" required>
                                        <option value="Y" th:selected="${organDTO.activeYn == 'Y'}">활성화</option>
                                        <option value="N" th:selected="${organDTO.activeYn == 'N'}">비활성화</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group form-group-default">
                                    <label>*분류 :</label>
                                    <input id="organType" name="organType" type="hidden" class="form-control mt-2" readonly/>
                                    <input id="organType2" name="organType2" type="text" class="form-control mt-2" readonly/>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group form-group-default">
                                    <label>*업체명 :</label>
                                    <input id="organName" name="organName" type="text" class="form-control mt-2" required/>
                                </div>
                            </div>
                            <!-- 조직 주소 -->
                            <div class="col-sm-12 mt-2">
                                <div class="form-group form-group-default">
                                    <label>*주소 :</label>
                                    <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                                    <input id="organAddress" name="organAddress" type="text" class="form-control mt-2" placeholder="주소를 입력하세요." readonly required maxlength="100"/>

                                    <!-- 주소입력 기능 -->
                                    <input type="hidden" id="sample4_postcode" placeholder="우편번호" readonly>
                                    <input type="hidden" id="sample4_roadAddress" placeholder="도로명주소" readonly>
                                    <input type="hidden" id="sample4_jibunAddress" placeholder="지번주소" readonly>
                                    <span id="guide" style="color:#999;display:none"></span>
                                    <input type="hidden" id="sample4_detailAddress" placeholder="상세주소">
                                    <input type="hidden" id="sample4_extraAddress" placeholder="참고항목" readonly>

                                    <!-- 가려줄 값들 -->
                                    <input type="hidden" name="postcode" id="postcode">

                                    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                                    <script>

                                        // 숨길 주소 모은값 (추가한 내용)
                                        $("#sample4_detailAddress").on("change", function () {
                                            let dtl = document.getElementById('sample4_detailAddress').value
                                            let sample4_extraAddress = document.getElementById('sample4_extraAddress').value
                                            let sample4_roadAddress = document.getElementById('sample4_roadAddress').value

                                            document.getElementById('organAddress').value = sample4_roadAddress + " " + dtl + sample4_extraAddress;

                                        })


                                        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                                        function sample4_execDaumPostcode() {
                                            new daum.Postcode({
                                                oncomplete: function(data) {
                                                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                                                    var extraRoadAddr = ''; // 참고 항목 변수

                                                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                                        extraRoadAddr += data.bname;
                                                    }
                                                    // 건물명이 있고, 공동주택일 경우 추가한다.
                                                    if(data.buildingName !== '' && data.apartment === 'Y'){
                                                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                                    }
                                                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                                    if(extraRoadAddr !== ''){
                                                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                                                    }

                                                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                                    document.getElementById('sample4_postcode').value = data.zonecode;
                                                    document.getElementById("sample4_roadAddress").value = roadAddr;
                                                    document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                                                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                                    if(roadAddr !== ''){
                                                        document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                                                    } else {
                                                        document.getElementById("sample4_extraAddress").value = '';
                                                    }

                                                    // 추가한 코드

                                                    // 나눠진 주소정보를 주소필드에 합쳐넣는다.
                                                    document.getElementById('postcode').value = data.zonecode;
                                                    document.getElementById('organAddress').value = roadAddr + extraRoadAddr;

                                                    // 다시 재검색시, 상세주소값이 빠지도록 설정한다.
                                                    document.getElementById('sample4_detailAddress').value = "";



                                                    var guideTextBox = document.getElementById("guide");
                                                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                                    if(data.autoRoadAddress) {
                                                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                                                        guideTextBox.style.display = 'block';

                                                    } else if(data.autoJibunAddress) {
                                                        var expJibunAddr = data.autoJibunAddress;
                                                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                                                        guideTextBox.style.display = 'block';
                                                    } else {
                                                        guideTextBox.innerHTML = '';
                                                        guideTextBox.style.display = 'none';
                                                    }
                                                }
                                            }).open();
                                        }
                                    </script>
                                </div>
                            </div>
                            <div class="col-12 mt-2">
                                <div class="form-group form-group-default">
                                    <label>*대표 연락처 :</label>
                                    <input id="organTel" name="organTel" type="text" class="form-control mt-2" required/>
                                </div>
                            </div>
                        </div>

                        <!-- 조직 대표 사진 -->
                        <div class="col-sm-12 mt-2">
                            <div class="form-group form-group-default" id="inputImage">
                                <label>*대표 이미지 :</label>
                                <th:block th:if="${hasRepImage}">
                                    <input disabled name="imageFiles" type="file" class="form-control mt-2" accept="image/*"/>
                                </th:block>
                                <th:block th:unless="${hasRepImage}">
                                    <input name="imageFiles" type="file" class="form-control mt-2" accept="image/*"/>
                                </th:block>
                            </div>
                        </div>

                        <!-- 조직 사진 -->
                        <div class="col-sm-12 mt-2">
                            <div class="form-group form-group-default" id="inputImage2">
                                <label>*이미지 :</label>
                                <input name="imageFiles" type="file" class="form-control mt-2" accept="image/*">
                            </div>
                        </div>

                        <!-- 조직 사진 추가버튼 -->
                        <div class="col-sm-12 mt-2">
                            <div class="form-group form-group-default">
                                <input type="button" id="addImage" value="이미지 추가">
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="d-flex justify-content-end mt-3">
                            <button type="button" class="btn btn-outline-secondary mx-2" id="update">저장</button>
                            <button type="button" class="btn btn-outline-danger" id="cancel">취소</button>
                        </div>
                    </div>
                </form>
                <!-- 폼 끝 -->
            </div>
        </div>
    </div>
    <!-- 수정 모달 끝 -->

    <!-- 삭제 모달 시작 -->
    <div class="modal" id="deletemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">조직 삭제</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="form-group form-group-default">
                                <p>삭제버튼을 클릭하면 정보가 삭제됩니다. 삭제하시겠습니까?</p>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="d-flex justify-content-end mt-3">
                        <button type="button" class="btn btn-outline-danger mx-2" id="delete">삭제</button>
                        <button type="button" class="btn btn-outline-secondary" id="cancel2">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제 모달 끝 -->

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        // 문서가 준비가 되었다면
        $(document).ready(function () {

            // 이미지 삭제버튼을 클릭했을 때
            $(".deleteBtn").on('click', function () {

                var idx = this.value;

                $.ajax({
                    url: "/images/delete",
                    type: 'GET',
                    data: {
                        idx: idx                        // 전달값 : 값
                    },
                    success: function (response) {      // 작업 성공시
                        Swal.fire({
                            title: "삭제 완료",
                            text: "이미지를 삭제하였습니다",
                            icon: "success",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        }).then(() => {
                            location.reload();          // 현재 목록페이지를 다시 읽어온다.
                        });
                    },
                    error: function () {                // 작업 실패시
                        Swal.fire({
                            title: "오류 발생",
                            icon: "error",
                            text: "이미지 삭제를 실패하였습니다",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        });
                    }
                });


            });

            // 이미지 추가 버튼 클릭했을 때
            $("#addImage").on('click', function() {

                // 이미지 추가 함수
                addImageInput();

            });

            // 이미지 추가
            function addImageInput() {
                const container = document.getElementById('inputImage2');
                const newInputDiv = document.createElement('div');
                newInputDiv.innerHTML = '<input name="imageFiles" type="file" class="form-control mt-2" accept="image/*">';
                container.appendChild(newInputDiv);
            }

            // 이미지 input 초기화
            function resetImageInput() {
                const input = document.querySelector('input[name="imageFiles"]');
                const container2 = document.getElementById('inputImage2');

                // 파일 선택 초기화
                if (input) {
                    input.value = '';
                }

                // 이미지 추가창 제거
                container2.innerHTML = '<label>*이미지 :</label>' +
                    '<input name="imageFiles" type="file" class="form-control mt-2" accept="image/*">';
            }

            // 삭제모달 버튼 클릭 시
            $(".btn-delete").on("click", function () {

                $("#deletemodal").modal('show')

            });

            // 삭제모달 취소버튼 클릭 시
            $("#cancel2").on("click", function () {

                $("#deletemodal").modal('hide')

            });

            // 삭제 버튼 클릭
            $("#delete").on("click", function () {
                var idx = $('#organDTOidx').data("id")

                $.ajax({
                    url: "/office/organ/delete",
                    type: 'GET',
                    data: {
                        idx: idx                        // 전달값 : 값
                    },
                    success: function (response) {      // 작업 성공시
                        Swal.fire({
                            title: "삭제 완료",
                            text: "삭제하였습니다",
                            icon: "success",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        }).then(() => {
                            // 삭제 완료 후 '/office/list'로 리디렉션
                            location.href = "/office/list";  // 페이지 이동
                        });
                    },
                    error: function () {                // 작업 실패시
                        Swal.fire({
                            title: "오류 발생",
                            icon: "error",
                            text: "삭제를 실패하였습니다",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        });
                    }
                });
            });
            // 삭제모달 삭제버튼 클릭 시 끝

            // 수정모달 취소버튼 클릭 시
            $("#cancel").on("click", function () {

                $("#updatemodal").modal('hide')

            });


            // 수정버튼 클릭시 대화상자 채우기
            $("#btn-update").on("click", function () {

                // 이미지 추가창 리셋 함수
                resetImageInput();

                // 조직 idx
                var idx = $(this).data("id");

                $.ajax({
                    url: "/office/organ/read",
                    type: 'GET',
                    data: {
                        idx: idx                    // 전달값:값
                    },
                    success: function (response) {  // 작업 성공시
                        $('#title').text("조직 정보 수정");

                        $('#idx').val(response.organizationDTO.idx);
                        $('#organName').val(response.organizationDTO.organName);
                        $('#organAddress').val(response.organizationDTO.organAddress);
                        $('#organTel').val(response.organizationDTO.organTel);
                        $('#organType').val(response.organizationDTO.organType);
                        $('#activeYn').val(response.organizationDTO.activeYn);

                        // organType 값에 따른 텍스트 변경
                        updateOrganTypeInput(response.organizationDTO.organType); // 추가한 부분

                        //대화창 출력
                        $('#updatemodal').modal('show');

                    },
                    error: function () {            // 작업 실패시
                        //새로운 오류 알림창을 띄운다.
                        Swal.fire({
                            title: "오류 발생",
                            icon: "error",
                            text: "문제가 발생했습니다. 다시 시도해 주세요.",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                            //변화된 내용이 없으므로 목록페이지는 다시 읽지 않는다.
                        });
                    }
                });
            });
            // 수정버튼 클릭시 대화상자 채우기 끝

            // organType에 맞는 텍스트를 변경하는 함수
            function updateOrganTypeInput(organType) {
                var displayText = '';

                if (organType === 'BO') {
                    displayText = '지사';  // 본사일 때
                } else if (organType === 'SHOP') {
                    displayText = '매장';  // 매장일 때
                } else {
                    displayText = '본사';  // 기본값 (기타)
                }

                // 해당 텍스트를 input에 표시
                $('#organType2').val(displayText); // 텍스트 대입
            }

            // 대화상자에서 저장 버튼 클릭시 수정진행
            $('#update').on('click', function () {
                var form = $('#updatemodalForm')[0];
                var formData = new FormData(form);      // form내의 데이터 읽기
                console.log(formData)

                // 폼 검증 수행
                if (form.checkValidity() === false) {
                    form.reportValidity();              // 폼 검증
                    return;
                }
                $('#updatemodal').modal('hide');

                $.ajax({
                    url: '/office/organ/update',   // 맵핑
                    type: 'POST',                       // 전달 방식
                    data: formData,                     // 데이터 값
                    processData: false,                 // 현재상태 그대로 유지하면서 전달, 자동으로 data를 처리하지 않도록 설정
                    contentType: false,                 // 서버에서 multipart/form-data로 처리하도록 설정

                    success: function (response) {      //작업 성공시
                        Swal.fire({
                            //새로운 성공 알림창을 띄운다.
                            title: "수정 완료",
                            text: "정보가 수정되었습니다.",
                            icon: "success",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        }).then(() => {
                            location.reload();          // 현재 목록페이지를 다시 읽어온다.
                        });
                    },
                    error: function () {                //작업 실패시
                        Swal.fire({
                            title: "오류 발생",
                            icon: "error",
                            text: "문제가 발생했습니다. 다시 시도해 주세요.",
                            customClass: {
                                container: 'bootstrap-swal-container',
                                popup: 'card shadow-sm',
                                title: 'h4 text-success',
                                content: 'text-dark',
                            },
                            showConfirmButton: false,
                            timer: 2000,
                            willOpen: () => {
                                Swal.showLoading();
                            },
                            buttonsStyling: false,
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false
                        });
                    }
                });

            });
            // 대화상자에서 저장 버튼 클릭시 수정진행 끝

        });
    </script>
</th:block>

</body>
</html>