<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/superlayout}">
<head>
    <meta charset="UTF-8">
    <title>메뉴 세부</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <!--메뉴 세부 정보 표시-->
            <form th:action="@{/menu/readmenu}" th:object="${menuDTO}" method="get">
                <!--디자인-->
                <div class="card">
                    <div class="card-body">
                        <h2>메뉴 세부</h2>
                    </div>
                    <!--id와 name은 DTO에 변수명으로 작업-->
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="menuCategory" class="form-label">카테고리:</label>
                            <input type="text" class="form-control" id="menuCategory" name="menuCategory" th:field="*{menuCategory}" readonly>
                            <p th:if="${#fields.hasErrors('menuCategory')}" th:errors="*{menuCategory}" class="fieldError"></p>
                        </div>
                        <div class="mb-3">
                            <label for="menuName" class="form-label">메뉴명:</label>
                            <input type="text" class="form-control" id="menuName" name="menuName" th:field="*{menuName}" required disabled>
                            <p th:if="${#fields.hasErrors('menuName')}" th:errors="*{menuName}" class="fieldError"></p>
                        </div>
                        <div class="mb-3">
                            <label for="menuContent" class="form-label">설명:</label>
                            <textarea class="form-control" id="menuContent" rows="3" name="menuContent" th:field="*{menuContent}" disabled></textarea>
                            <p th:if="${#fields.hasErrors('menuContent')}" th:errors="*{menuContent}" class="fieldError"></p>
                        </div>
                        <div class="mb-3">
                            <div class="imgA">
                                <div style="display: flex; flex-wrap: wrap; padding: 20px;">
                                    <!-- 대표 이미지가 없을때 나오는 이미지 -->
                                    <div style="flex-basis: 100%; text-align: left">
                                        <th:block th:if="${!hasRepImage}">
                                            <img style="width: 300px; height: 300px; object-fit: cover; margin: 10px" src="https://sixcandoitimage.s3.ap-northeast-2.amazonaws.com/images/noimage.jpg" alt="noimage">
                                        </th:block>
                                    </div>
                                    <!-- 이미지 -->
                                    <th:block th:each="data:${imageFileDTOList}" th:if="${!hasRepImage}">
                                        <th:block th:unless="${data.getRepimageYn()} == 'Y'">
                                            <div>
                                                <label class="form-label">대표 메뉴 이미지:</label>
                                                <th:block th:unless="${data.getRepimageYn()} == 'Y'">
                                                    <img style="width: 200px; height: 200px; object-fit: cover; margin: 10px" th:src="${data.url}" alt="대표 이미지">
                                                    <div>
                                                        <button type="button" class="btn btn-danger deleteBtn mb-4" th:value="${data.idx}">삭제</button>
                                                    </div>
                                                </th:block>
                                            </div>
                                        </th:block>
                                    </th:block>

                                    <!-- 대표 이미지가 있을때 나오는 이미지 -->
                                    <th:block th:each="data:${imageFileDTOList}" th:if="${hasRepImage}">
                                        <!-- 대표 이미지 -->
                                        <th:block th:if="${data.getRepimageYn()} == 'Y'">
                                            <div style="flex-basis: 100%; text-align: left">
                                                <img style="width: 300px; height: 300px; object-fit: cover; margin: 10px" th:src="${data.url}" th:alt="${data.originName}">
                                            </div>
                                        </th:block>
                                    </th:block>
                                    <th:block th:each="data:${imageFileDTOList}" th:if="${hasRepImage}">
                                        <!-- 이미지 -->
                                        <th:block th:unless="${data.getRepimageYn()} == 'Y'">
                                            <div>
                                                <label class="form-label">추가 메뉴 이미지:</label>
                                                <img class="menuImg" style="width: 200px; height: 200px; object-fit: cover; margin: 10px" th:src="${data.url}" alt="추가 이미지">
                                            </div>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="menuOptionYn" class="form-label">메뉴 옵션</label>
                            <input type="text" class="form-control" th:value="${menuDTO.menuOptionYn == 'Y' ? '있음' : '없음'}" id="menuOptionYn" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="menuPrice" class="form-label">가격:</label>
                            <input class="form-control" id="menuPrice" rows="3" name="menuPrice" th:field="*{menuPrice}" disabled>
                            <p th:if="${#fields.hasErrors('menuPrice')}" th:errors="*{menuPrice}" class="fieldError"></p>
                        </div>
                        <div class="mb-3">
                            <label for="activeYn" class="form-label">판매 상태</label>
                            <input type="text" class="form-control" th:value="${menuDTO.activeYn == 'Y' ? '활성' : '비활성'}" id="activeYn" disabled>
                        </div>
                        <!-- 세일 여부 -->
                        <div class="mb-3">
                            <label for="menuSalesYn" class="form-label">세일</label>
                            <input type="text" class="form-control" th:value="${menuDTO.menuSalesYn == 'Y' ? '적용' : '안함'}" id="menuSalesYn" disabled>
                        </div>

                        <!-- 할인구분 -->
                        <div class="mb-3">
                            <label for="menuSaleType" class="form-label">할인구분</label>
                            <input type="text" class="form-control" th:value="${menuDTO.menuSaleType}" id="menuSaleType" disabled>
                        </div>

                        <!-- 원가 -->
                        <div class="mb-3">
                            <label for="originPrice" class="form-label">원가:</label>
                            <input type="text" class="form-control" th:value="${menuDTO.originPrice}" id="originPrice" disabled>
                        </div>

                        <!-- 할인액 -->
                        <div class="mb-3">
                            <label for="menuSaleAmount" class="form-label">할인액:</label>
                            <input type="text" class="form-control" th:value="${menuDTO.menuSaleAmount}" id="menuSaleAmount" disabled>
                        </div>

                        <!-- 할인율 -->
                        <div class="mb-3">
                            <label for="menuSalePercent" class="form-label">할인율:</label>
                            <input type="text" class="form-control" th:value="${menuDTO.menuSalePercent}" id="menuSalePercent" disabled>
                        </div>


                        <div class="col-12">
                            <button type="button" class="btn btn-warning"
                                    th:onclick="|location.href='/menu/updatemenu?idx='+ ${menuDTO.idx}|">수정</button>
                            <button type="button" class="btn btn-primary"
                                    th:onclick="|location.href='/menu/listmenu'|">목록</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        // let menuid = [[${menuDTO.idx}]];
        // console.log(menuid);  // 이 값이 잘 들어오는지
        //
        //
        // $(document).ready(function (){
        //     $(".updatebtn").on("click", function (){
        //         console.log("클릭됨, menuid: " + menuid);  // 클릭 시 이 값이 잘 들어오는지
        //         location.href = "/menu/updatemenu?idx=" + menuid;
        //     })
        // })
    </script>
</th:block>
</body>
</html>